@mixin before_circle {
	&::before {
		content:"";
		position: absolute;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		background-color: $first-color;
		z-index: -1;
		top: -40%;
		left: 0;
	}
}