@media (max-width: 1439px) {
	.sidepanel {
		display: none;
	}
}

@media (max-width: $md1) {
	.container{
		max-width: $md2;
	}
	.about {
		&_wrapper {
			grid-template-columns: 400px 520px;
			column-gap: 40px;
		}
		&_skills {
			column-gap: 20px;
			grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
			&-item {
				column-gap: 15px;
				grid-template-columns: 40px 195px;
			}
		}
	}
}

@media (max-width: $md2) {
	.container{
		max-width: $md3;
	}
	.title {
		&_fz36 {
			font-size: 30px;
		}
	}
	.about {
		padding-top: 70px;
		&_wrapper {
			grid-template-columns: 310px 380px;
		}
		&_skills {
			grid-template-columns: 380px;
			grid-auto-rows: minmax(115px, auto);
			&-item {
				grid-template-columns: 40px 320px;
				column-gap: 20px;
			}
		}
	}
}

@media (max-width: $md3) {
	.container{
		max-width: $md4;
		padding-right: 10px;
		padding-left: 10px;
	}
	.title {
		&_fz48 {
			font-size: 28px;
		}
	}
	.promo {
		&_title {
			line-height: 39px;
			max-width: 300px;
		}
	}
	.about {
		padding-top: 40px;
		&_wrapper {
			grid-template: 400px auto auto/1fr;
		}
		&_photo {
			grid-row: unset;
		}
		&_skills {
			justify-content: center;
		}
	}
}

@media (max-width: $md4) {
	.container{
		width: 100%;
	}
	.title {
		&_fz48 {
			font-size: 26px;
		}
		&_fz36 {
			font-size: 24px;
		}
	}
	.hamburger {
		right: 20px;
	}
	.menu {
		&_block {
			width: 255px;
			padding-left: 20px;
		}
		&_social {
			width: 150px;
		}
	}
	.promo {
		background: url("../img/main-bg.png") no-repeat 47%/cover;
		&_btns {
			margin-top: 30px;
		}
	}
	.about {
		&_wrapper {
			grid-template: 340px auto auto/1fr;
		}
		&_skills {
			grid-template-columns: 1fr;
			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 20px;
			}
		}
	}
}