.promo {
	min-height: 100vh;
	position: relative;
	background: url("../img/main-bg.jpg") no-repeat 50%/cover;
	padding: 205px 10px 0 10px;
	&_title {
		width: 535px;
		margin-top: 10px;
	}
	&_subtitle {
		margin-top: 10px;
		position: relative;
		padding-left: 10px;
		z-index: 2;
		span {
			text-decoration: underline
		}
		@include before_circle;
		&:before {
			background-color: $first-color;
			top: -10%;
		}
	}
	&_btns {
		margin-top: 25px;
		display: flex;
		width: 300px;
		align-items: center;
		justify-content: space-between;
	}
	&_link {
		color: $second-color;
		font-weight: 700;
		line-height: 21px;
		&:hover {
			color: $second-color;
		}
	}
}