.skills {
	padding-top: 126px;
	&_items {
		margin-top: 60px;
		padding: 0 10px;
		display: grid;
		grid-template: repeat(2, minmax(270px, auto)) / repeat(4, 270px);
		grid-auto-rows: minmax(270px, auto);
		gap: 13px;
	}
	&_item {
		padding: 30px 30px 25px 30px;
		border: 1px solid #000;
		&-img {
			display: flex;
			align-items: center;
			min-height: 65px;
		}
		h3 {
			margin-top: 20px;
			margin-bottom: 0;
		}
		p {
			margin-top: 15px;
			margin-bottom: 0;
			font-size: 12px;
			line-height: 18px;
		}
	}
	&_ratings {
		margin-top: 120px;
		display: grid;
		grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
		grid-auto-rows: minmax(70px, auto);
		column-gap: 45px;
		row-gap: 30px;
		&-item {
			position: relative;
			display: grid;
			grid-template: minmax(21px, auto) 14px / 200px 35px;
			justify-content: space-between;
			align-content: space-between;
		}
		&-title {
			font-weight: 700;
			color: #000;
			@include before-circle;
			&:before {
				top: -8px;
				left: -14px;
				background-color: $second-color;
			}
		}
		&-counter {
			line-height: 21px;
			color: #000;
		}
		&-line {
			width: 350px;
			height: 14px;
			background: #E8E4DE;
			border-radius: 4px;
			grid-column: 1/3;
			span {
				display: block;
				background: $main-color;
				height: 100%;
				border-radius: 4px;
			}
		}
	}
}