.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 60px;
	color: $first-color;
	&_fz14 {
		font-size: 14px;
		line-height: 21px;
	}
	&_fz20 {
		font-size: 20px;
		color: $second-color;
		line-height: 21px;
	}
	&_fz16 {
		font-size: 16px;
		line-height: 21px;
		color: #000;
	}
	&_fz36{
		font-size: 36px;
		color: $first-color;
	}
	&_fz48 {
		font-size: 48px;
		color: $second-color;
	}
}